@charset "utf-8";

:root {
  --blue: #2196F3;
  --red: #d72d0b;
}

body {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  background: var(--blue);
  color: white;
  text-align: center;
}

h1 {
  margin-top: 48px;
  font-family: Verdana, sans-serif;
  font-size: 32px;
  font-weight: 600;
}

table {
  margin: 32px auto 40px;
  padding: 16px 20px;
  background: white;
  border-radius: 16px;
}

th,
td {
  width: 48px;
  height: 40px;
  line-height: 48px;
  border-radius: 8px;
}

th {
  font-size: 18px;
  background: var(--red);
  box-sizing: border-box;
}

td {
  background: var(--blue);
}

p {
  font-size: 14px;
  line-height: 12px;
}

button {
  all: unset;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  background: var(--red);
  padding: 20px 44px;
  border-radius: 32px;
  cursor: pointer;
}

button:hover {
  background: #df4526;
}

button:active {
  transform: translateY(2px);
}